<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>

      </h1>
  <h2>
  	
  <%= link_to "Add Locations", add_path, class: "btn btn-large btn-primary" %>
<%= link_to "Search Locations", index_path, class: "btn btn-large btn-primary" %>
<%= link_to "Randomize!", random_path, class: "btn btn-large btn-primary" %> 
  </h2>

    </section>
  </aside>
</div>