<% provide(:title, @user.name) %>
<style>
hr {
margin-left: 37.5%;
width: 25%
}
</style>
<div class="row">
  <aside class="span8">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        
    </span>

      </h1>
</aside>
<br><br>
<br><br>
  <hr>
  <div class="center">
  
<h2>	
  <%= link_to "Add Locations", add_path, class: "btn btn-large btn-info" %>
<%= link_to "Location Index", index_path, class: "btn btn-large btn-info" %>
</h2>
	<hr >
	<h2>
<%= link_to "Randomize!", random_path, class: "btn btn-large btn-primary" %> 
  </h2>

</div>
    </section>
  
</div>
