<h1>Existing Locations</h1>
<%= form_tag index_path, :method => 'get', :id => "locations_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], class: "input-large search-query" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
  </p>

<div id="locations"><%= render 'locations' %></div>
<% end %>
<%= render 'locindex' %>
<%= will_paginate @locations %>