<h1>Existing Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Food Type</th>
      <th>Cost</th>
      
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.food %></td>
        <td><%= location.price %></td>
        <td>&nbsp<%= link_to ' Edit ', edit_location_path(location) %>&nbsp</td>
        <td><%= link_to ' Destroy ', location, method: :delete, data: { confirm: 'Are you sure?'}%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>