<div class="center">
<h3>
	Click here to randomly select a place to eat lunch.
</h3>
	<%= link_to "Randomize!", random_path , class: "btn btn-large btn-primary" %>
	</div>
	<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Food Type</th>
      <th>Cost</th>
      
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= @locations.name %></td>
        <td><%= @locations.address %></td>
        <td><%= @locations.food %></td>
        <td><%= @locations.price %></td>
        
      </tr>
    
  </tbody>
</table>

<br>
<hr>
<div class="center">
  <h4>
    Invite people to Lunch!
  </h4>
 <script type="text/javascript">
function sende() {
           var selected = [],
           location = "<%= @locations.name %>";
maillist = document.getElementById("maillist");
for (var i = 0; i < maillist.getElementsByTagName("option").length; i++) {
    var option = maillist.getElementsByTagName("option")[i];
    if (option.selected) {
        selected.push(option.value);
    }
}
console.log(selected, location);
jQuery.ajax({

    data: { selected: selected, place: location},
        type: 'post',
      url: "controller/invite/:maillist",

    });
}

 </script> 

   <span class="input-xlarge uneditable-input" value="<%= @locations.name %>"><%=@locations.name%></span> 
  <select id="maillist" name="maillist[]" form="mailform" multiple="multiple"/>
  

  <% @users.each do |user| %>
  
  <option value="<%=user.email%>"  ><%= user.name %></option>
  
  <%end%>
  <input type="hidden" name="place" value="<%= @locations.name %>">
  <button onclick='sende();' class: "btn btn-large btn-success">Send</button>
</select>

  
  
</div>